

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

                                                               
                                          

/* Shared Style */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.display-flex{
    display: flex;
}



/* Text Color Style */

.text-orange-01{
    color: #E6533C;
}

.text-white-02{
    color: #FFFFFF;
}

.text-light-white-03{
    color: rgba(255, 255, 255, 0.5);
    
}

/* Background-Color Style */

.bg-color-01{
   background-color: #222222;

}

.bg-color-02{
    background-color: black;
}

.bg-color-03{
    background-color: #222222;
    
}
.bg-color-04{
    background-image: linear-gradient(200deg, rgb(0, 0, 0), rgba(14, 14, 14, 0.9), rgb(0, 0, 0));
    
}

/* Nav bar style */

/* .header1{
    padding-top: 57px;
} */

.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.nav-item{
    list-style: none;
    margin-left: 47px;
}

.nav-name{
    text-decoration: none;
}

.navbar{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 30px;
}

.nav-links{
    width: 50%;
}


.home{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
    color: #FFFFFF;
}

.fitness{
    font-weight: 800;
    font-size: 2.25rem;
    font-style: italic;
}

.nav-name{
    font-weight: 400;
    font-size: 1.2rem;
    color: #FFFFFF;
}


/* Banner Style_Page 01 */

.banner{
    max-width: 1440px;
    margin: 0 auto;
    /* border: 2px solid greenyellow; */
    justify-content: center;
    align-items: center;
   
}

.banner-content{
    max-width: 1440px;
    /* border: 2px solid white; */
    width: 50%; 
}

.banner-title{
    font-weight: 900;
    font-size: 4.87rem;
    color: #FFFFFF;
    
}

.banner-description{
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 20px;
}



/* End of Banner Style_Page 01 */

/* Button Style */

.btn-1{
    background-color: #E6533C;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 1.12rem;
    padding: 16px 46.5px;
    border-radius: 42px;
    border: 1px #E6533C;
}


.btn-2{
    background-color: #181818;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.12rem;
    padding: 16px 46.5px;
    border-radius: 42px;
    border: 1px solid white;
                
}


.btn-3{
    
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px;
    border-radius: 12px;
    padding: 05px 45px;
    translate: 120px;
    
}


.btn3-text{
    font-weight: 800;
    font-size: 1.5rem;
    color: #FFFFFF;
    
}

.btn3-text1{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}




.img-container{
    /* border: 2px solid gold; */
    
    justify-content: center;
    align-items: center;
    
}

.img-container img{
    width: 100%;
    
}

.btn-4{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px;
    border-radius: 12px;
    padding: 00px 25px;
    translate: -65px;

}

.btn4-text{
    font-weight: 800;
    font-size: 1.5rem;
    color: #FFFFFF;
}


.btn4-text1{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}  


/* 2nd page habit style */

.habit-title{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
    padding-bottom: 14px;
    
}

.habit-description{
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 58px;
}


.head-title{
    font-weight: 600;
    font-size: 1.2rem;
    color: #FFFFFF;
    padding-top: 30px;
}

.head-description{
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 6px;
}

.habit-head{
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}


.habit-section{
    justify-content: center;
    align-items: center;
}

.habit-banner img{
   width: 180px;
   height: 180px;
   border-radius: 100px;
   border: 4px solid rgb(39, 38, 38);
   
}

.habit-section{
    gap: 30px;
}

.habit-banner{
    text-align: center;
    padding: 30px;
    
}


.habits{
    padding-bottom: 100px;
}


/* 2nd page completed */



/* 3rd Page Start */


.third-page{
    
    background-color: #000000;
    justify-content: center;
    padding-bottom: 129px;
    
}

.box-run{
   width: 1060px;
   height: 371px;
   background-color: #222222;
   border-radius: 18px;
   justify-content: center;
   align-items: center;
   gap: 165px;

}
.run-title{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
    padding-bottom: 14px;
}

.run-description{
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 58px;
}

.run-img img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    object-fit: cover;
    
}


.btn-5{
    background-color: #E6533C;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 1.12rem;
    padding: 16px 46.5px;
    border-radius: 42px;
    border: 1px #E6533C;
}



/* 4th Page */


.fourth-page{
    background-color: #222222;
    
}

.bmi-calculator{
    height: 490px;
}

.bmi-text{
    background-color: #000000;
    justify-content: center;
}


.bmi-title{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
    padding-bottom: 14px;
}

.bmi-description{
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 58px;
}

.bmi-calculator{
    justify-content: space-around;
    padding-top: 50px;
}

.table-title{
    font-weight: 600;
    font-size: 1.75rem;
    color: #FFFFFF;
    padding-bottom: 14px;
}



.table-content{

    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9rem;
    
    /* color: rgba(255, 255, 255, 0.5); */
    min-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.table-content thead tr {
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.table-content th ,
.table-content td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px 15px;
}

.table-content td{
    color: rgba(255, 255, 255, 0.5);
}


.form-title{
    font-weight: 600;
    font-size: 1.75rem;
    color: #FFFFFF;
    padding-bottom: 14px;
}

.form-description{
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 34px;
}


.btn-6{
    padding: 13px 180px 13px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    
    
}

.btn-7{
    padding: 13px 180px 13px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
}

.btn-8{
    padding: 13px 219px 13px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
}

.btn-9{
    padding: 13px 217px 13px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
}

.btn-form{
    padding-bottom: 12px;
    row-gap: 20px;
}

    

.btn-10{
    padding: 13px 372px 13px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
}


.btn-11{
    background-color: #E6533C;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 1.12rem;
    padding: 16px 46.5px;
    border-radius: 42px;
    border: 1px #E6533C;
    
}
.btn-form1{
    padding-top: 20px;
}


/* 5th page */

.fifth-page{
    max-width: 100%;
    height: 100%;
    background-color: #000000;
    padding-bottom: 88px;
    
}

.team{
    padding-top: 48px;
    justify-content: center;
    text-align: center;
    
}

.team-title{
    font-weight: 900;
    font-size: 3rem;
    color: #FFFFFF;
    padding-bottom: 14px;
}

.team-description{
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 34px;
}

.members{
    width: 1060px;
    height: 680px;
    border-radius: 18px;
    background-color: #222222;
    margin-left: 23%;
    padding: 20px;
    
}

.member1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    text-align: center;
     
}

.member1 img{
    width: 326px;
    height: 272px;
    radius: 18px;

}

.member-title{
    font-weight: 900;
    font-size: 1.2rem;
    color: #FFFFFF;
    /* padding-bottom: 14px; */
}

.member-description{
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    /* padding-bottom: 34px; */
}

/* --Last Page */

.last-page{
    width: 100%;
    height: 489px;
    background-color: #222222;
    
}

.last{
    
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    
}

.fitnes, .get , .get1{
   
    padding: 70px;
    
    
    
}

.fit-title{
    font-weight: 800;
    font-size: 4.37rem;
    color: #E6533C;
    padding-bottom: 14px;
}

.fit-description{
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 34px;
}

.start-title{
    font-weight: 900;
    font-size: 2rem;
    color: #FFFFFF;
    padding-bottom: 14px;
}

ul{
    list-style: none;
    font-weight: 300;
    font-size: 0.88rem;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 34px;
}

li{
    padding-bottom: 20px;
}

.rights{
    justify-content: center;
    text-align: center;
    background-color: #222222;
    padding-bottom: 40px;
}

.box-foot{
    margin: auto;
    width: 1059px;
    height: 0%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    
}

.all-right{
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 20px;
}






/* Media query for Responsive */

@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .banner,
    .habit-section,
    .third-page,
    .box-run,
    .bmi-text,
    .bmi-calculator,
    .last
     
    {
        flex-direction: column;
        
    }

    .fitness{
        margin-left: -200px;
        text-align: left;
    }
    .nav-links{
        margin-top: -50px;
        margin-left: 100px;
        gap: 05px;
    }

    .banner-title {
        font-size: 2.25rem;
        margin-left: -70px;
    }

    .banner-description{
        margin-left: -70px;
        text-align: justify;
    }

    .btn-1{
        margin-left: -80px;
        padding: 16px 20px;
    }

    .btn-2{
        margin-right: -80px;
        padding: 16px 20px;
    }

    .btn-3{
        padding: 05px 20px;
        translate: -70px;
        transform: translateY(400px);
    }

    .img-container{
        width: 70%;
    }

    .btn-4{
        padding: 00px 15px;
        translate: -65px;
        transform: translateY(-150px);
    }

    .habits{
        padding-bottom: 66px;
    }
    .third-page{
        justify-content: center;
        align-items: center;
        padding-bottom: 32px;
        
    }
    .box-run{
        width: 350px;
        height: 531px;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 31px;
    }
    

    .run-img img{
        width: 287px;
        height: 170px;
    }

    .run-title {
        font-size: 2rem; 
    }

    .run-description{
        padding-bottom: 24px;
    }

    .btn-5{
        padding: 16px 105px;
        
    }

    .fourth-page{
        width: 394px;
        
    }

    .bmi-calculator{
        height: 972px;
    }

    .bmi-text{
        padding-top: 20px;
        padding-left: 20px;
    }

    .bmi-title{
        font-size: 2rem;
    }

    .bmi-description{
        padding-bottom: 32px;
    }

    .calculator{
        padding-left: 20px;
    }

    .table-title{
        font-size: 1rem;
    }

    .form{
        padding-left: 20px;
    }

    .form-title{
        font-size: 1rem;
    }

    .btn-6{
        padding: 13px 60px 13px 20px;
    }

    .btn-7{
        padding: 13px 60px 13px 20px;
    }

    .btn-8{
        padding: 13px 97px 13px 20px;
    }

    .btn-9{
        padding: 13px 98px 13px 20px;
    }

    .btn-10{
        padding: 13px 131px 13px 20px;
    }

    .team-title{
       
        font-size: 2rem;
        
        padding-bottom: 14px;
    }

    .members{
        width: 350px;
        height: 2050px;
        border-radius: 18px;
        background-color: #222222;
        margin-left: 3%;
        /* padding: 20px; */
        
    }

    .member1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* gap: 20px;
        justify-content: center;
        text-align: center; */
         
    }

    .last-page {
        width: 393px;
        height: 986px;
    }

    .last{
        align-items: start;
        
        
    }

    .fitnes, .get , .get1{
   
        padding: 10px;

}